
.comments-container{
    span{
        color: #000;
    }
    h3{
        color: #000 !important;
        cursor: pointer;
    }
    .actions-container {
        span {
            font-size: 12px;
            padding-right: 10px;
            color: #9e3b3b;
            cursor: pointer;
        }
    }
}