.header-container {
    background: #ccc!important;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    ul{
        margin: 0;
        display: flex;
        justify-content: flex-end;
        position: relative;
        li{
            padding: 0 10px;
            
        }
    }
    .user-header{
        cursor: pointer;
        
    }
}

// .ant-layout-content{}