.header-container {
    background: #ccc!important;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 50;
    top: 0;
    .ant-layout-header{
        padding: 0;
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        
        li{
            padding: 0 10px;
            
        }
    }
    .user-header{
        cursor: pointer;
        
    }
    .menu-header{
        cursor: pointer;
    }
}

// .ant-layout-content{}