@import './variable.scss';

.register-container{
    // min-height: calc(100vh - $height-header);
    width: 400px;
    margin: auto;
    .ant-form-item{
        padding: 5px;
    }
    .ant-form-item-label{
        text-align: start;
    }
}