.menu-container {
    border: none;

    .nav-side-group {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 5px 0;
        cursor: pointer;

        span {
            color: #292121;
            padding-right: 20px;
        }
    }

    .ant-menu-vertical {
        border: none;
    }

}



// @media screen and (max-width: 576px) {
//     .ant-layout-sider-light {
//         width: 0 !important;
//         flex: 0 0 0 !important;
//         max-width: 0 !important;
//         min-width: 0 !important;
//     }


// }


